<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Transaction Demo</title>
  </head>
  <body>
    <form action="/transaction" method="post">
      <table>
        <tr><td>id</td><td><input name="id" type="text" size=3 maxlength=3></td></tr>
        <tr><td>destination account</td><td><input name="dest" type="text" size=16 maxlength=16></td></tr>
        <tr><td>transfer value</td><td><input name="quantity" type="text" size=12 maxlength=12></td></tr>
      </table>
      <input name="anticsrf" type="hidden" size=20 value="{{anticsrf}}">
      <input type="submit" value="Submit">
    </form>
    <p>If you haven't registered for an id yet, click <a href="/register">here</a></p>
    <p>For source code, see <a href="http://github.com/ghoff/transauth">http://github.com</a></p>
  </body>
</html>

