<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Enter Transaction Information</title>
  </head>
  <body>
    <form action="/validate" method="post">
      <table>
        <tr><td>Encoded message</td></tr>
        <tr><td>{{message}}</td></tr>
        <tr><td>Destination account number is: {{dest}}</td></tr>
        <tr><td>Amount to be transfered: {{quantity}}</td></tr>
        <tr><td>Please enter pin to verify transaction</td><td><input name="pin" type="text" size=4 maxlength=4></td></tr>
      </table>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>

